# ======================
# ENVIRONMENT
# ======================
ENV=''

# ======================
# NSE API
# ======================
NSE_BASE_URL=''

# ======================
# AZURE STORAGE
# ======================
BRONZE_CONTAINER=''

ADLS_CONNECTION_STRING=''