# Environment Variables
.env

# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
logs/
*.log

# VS Code
.vscode/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db